<div class="col-md-6 offset-md-3 " style="padding-top: 100px;padding-left: 80px;color:green;">
    <div style="background-color: rgba(255, 255, 255, 0.825); padding: 30px 30px;width: 100%;text-align: center;">
        <img src="../../assets/img/tick.png" style="height: 50px;">
        <h1>Updation Done</h1>
    <br>

<div class="container" style="text-align: center;" style="padding-top: 30px;padding-bottom: 20px;align-items: center;">
    <button type="submit" class="btn btn-primary b" (click)="Acclist()">Account List</button>  

</div>