<div style="padding-top: 40px;width:90%;text-align: center;padding-left: 250px;padding-right:200px;color: white;">
    <div style="background-color: rgba(37, 73, 140, 0.825);height:100%;">
    <h1 class="c" style="padding-top: 30px;">Welcome {{accounts.name}}</h1><br>
    <div style="text-align: left;padding-left: 180px;">

    <b>Customer Id  &nbsp;&nbsp;: </b>{{accounts.id}}<br><br>
    <b>Account No &nbsp;&nbsp;: </b>{{accounts.acno}}<br><br>
    <b>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>{{accounts.name}}<br><br>
    <div style="padding-left: 20px;padding-top: 20px;">
        <button type="submit" class="btn btn-primary" style=" width:180px;height:50px;" (click)="custlogin()">Check Balance</button><br><br>
    </div>
</div>
</div>
</div>
