<div style="padding-top: 20px;width:70%;text-align: center;padding-left: 350px;color: white;">
    <div style="background-color: rgba(37, 73, 140, 0.825);height:90%;">
    <h2 class="c" style="padding-top: 10px;">Account Details</h2><br>
    <div style="text-align: left;padding-left: 130px;">

    <b>Customer Id  &nbsp;&nbsp;: </b>{{accounts.id}}<br><br>
    <b>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>{{accounts.name}}<br><br>
    <b>Account No &nbsp;&nbsp;: </b>{{accounts.acno}}<br><br>
    <b>Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>{{accounts.phone}}<br><br>
    <b>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>{{accounts.email}}<br><br>
    <div style="padding-left: 20px;padding-top: 10px;">
    <button (click)="updateAccount(accounts.id)" class="btn btn-info">Password Update</button>
    </div>
    <div style="padding-left: 50px;padding-top: 20px;">
    <button type="submit" class="btn btn-primary" style=" width:80px;height:40px;" (click)="custlogin()">Back</button><br><br>
    </div>
</div>
</div>
</div>
