<div style="padding-left: 250px;padding-top: 100px;">
<ul class="navbar-nav" >
    <li class="nav-item">
        <br>
        <button type="submit" class="btn btn-light b" (click)="adminlogin()"><img src="../../assets/img/admin.png" style="height: 50px;">Admin Login</button>
    </li>
    <li class="nav-item">
        
        <button type="submit" class="btn btn-light b" (click)="custlogin()"><img src="../../assets/img/customer.png" style="height: 50px;">Customer Login</button>  
    </li>
</ul><br><br><br><br><br><br><br><br><br><br><br>
</div>